/* Viewport Breakpoints */
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;

/* Colours */
$text-color-1: #323232;
$text-color-2: white;
$text-color-3: #AFAFAF;
$text-color-4: #E1E1E1;
$text-color-5: #0095FF;
$background-color-1: #323232;
$background-color-2: #FAFAFA;
$background-color-3: rbga(50,50,50);
$background-color-4: white;
$background-color-5: #E1E1E1;
$background-color-6: #0095FF;



