html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: indianred;
}  

.meme {
   

    &__card {
        height: 300px;
        width: 400px;
        border-radius: .75rem;
    }  
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;   
    border-radius: .75rem;
    margin-top: 4rem;
}  





.flip-card {
    background-color: transparent;
    width: 400px;
    height: 300px;
    perspective: 1000px;
    border-radius: .75rem;
    animation: glowing-two 1300ms infinite; 
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: .75rem;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: .75rem;
  }
  
  .flip-card-front {
    background-color: blue;
    border-radius: .75rem;
    
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
    border-radius: .75rem;
  }

  .new__meme {
      margin-top: 2rem;
      height: 100px;
      width: 200px;
      color: lightgreen;
      font-size: 1.5rem;
      padding: 1rem 2rem;
      background-color: blue;
      border-radius: .75rem;
  }

  h1 {
      margin-top: 4rem;
      border: purple dotted 4px;
      border-radius: .75rem;
      color: mediumspringgreen;
  }

  h2 {
      color: white
  }

  .button-holder {
      display: flex;
      justify-content: space-between;
      margin-top: 4rem;
  }

  .buttons {
      margin: 0 1rem;
      height: 100px;
      width: 100px;
      color: magenta;
      animation: glowing 1300ms infinite;  
      padding: 1rem 2rem;
      background-color: blue;
      border-radius: .75rem;

  }

  .hover__flex {
      display: flex;
      justify-content: space-evenly;
  }

  @keyframes glowing {
    0% {
      background-color: #2ba805;
      box-shadow: 0 0 3px #2ba805;
    }
    50% {
      background-color: #49e819;
      box-shadow: 0 0 10px #49e819;
    }
    100% {
      background-color: #2ba805;
      box-shadow: 0 0 3px #2ba805;
    }
  }

  @keyframes glowing-two {
    0% {
      background-color: indianred;
      box-shadow: 0 0 3px indianred;
    }
    50% {
      background-color: magenta;
      box-shadow: 0 0 10px magenta;
    }
    100% {
      background-color: black;
      box-shadow: 0 0 3px black;
    }
  }

  